name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup SSH
      run: | 
        mkdir -p ~/.ssh
        echo "${{secrets.EC2_KEY}}" > ~/.ssh/ec2_key
        chmod 600 ~/.ssh/ec2_key
    
    - name: Deploy to EC2 
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/ec2_key ubuntu@18.141.138.103 "
          cd /home/ubuntu/URL-Shortener &&
          git pull &&
          source venv/bin/activate &&
          pip install -r requirements.txt &&
          sudo systemctl restart gunicorn &&
          sudo systemctl restart nginx
        "